<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{noSideBarLayout :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>ユーザー詳細</title>
</head>
<body>
	<div id = "wrap">
	<div class = "main-center">
		<h1>ユーザー詳細</h1>
		<table>
			<tr>
				<th>ユーザー名: </th>
				<td><span th:text="${book.bookName}"></span></td>
			</tr>
			  <tr>
				<th>メールアドレス: </th>
				<td><span th:text="${book.author.authorName}"></span></td>
			</tr> 
			<tr>
				<th>住所: </th>
				<td><span th:text="${book.publisherName}"></span></td>
			</tr>
		</table>
	</div>
	</div>
</body>
</html>