<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	th:replace="~{noSideBarLayout :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- wrap始まり -->
	<div id = "wrap">
		<div id="contact">
			<div class = "main-center">
				<h1>Contact</h1>
				<p>Keit Libraryへのお問い合わせフォームになります。お気軽にお問い合わせください。</p>
				<section>
					<h2 class="icon">Contact Form</h2>
					<div class="form">
						<form>
							<dl>
								<dt><span class="required">お名前</span></dt>
								<dd><input type = "text" name = "name" class = "name" required></dd>
								<dt><span class="required">メールアドレス</span></dt>
								<dd><input type = "email" name = "email" class = "email" required></dd>
								<dt>お電話番号</dt>
								<dd><input type = "tel" name = "tel" class = "tel"></dd>
								<dt>お問い合わせ種別</dt>
								<dd>
									<select name = "type" class = "type">
										<option value = "書籍追加希望">書籍追加希望</option>
										<option value = "書籍紛失連絡">書籍紛失連絡</option>
										<option value = "その他">その他</option>
									</select>
								</dd>
								<dt>ご希望のご連絡方法</dt>
								<dd>
									<input type = "radio" name = "contact" value = "Eメール">Eメール
									<input type = "radio" name = "contact" value = "お電話">お電話
								</dd>
								<dt>メッセージ</dt>
								<dd><textarea name = "message" class = "message"></textarea></dd>
							</dl>
							<button type = "submit" class = "btn">送信</button>
						</form>
						<div class="attention">
							<p>※「<span class="required"></span>」の付いている項目は必須項目です。<br>
							※メッセージ送信後、48時間以内に担当者よりご連絡いたします。</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>
</html>