<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<meta charset="UTF-8" />
<div class="sidemenu" id="sidebar" th:fragment="layout-sidebar">
	<aside class="sidemenu">
	<h1>管理人のイチオシ</h1>
	<ul>
		<li><a href="#">超越主義(Transcendentalism)について</a></li>
		<li><a href="#">19世紀のアメリカ文学</a></li>
		<li><a href="#">17世紀中葉以降の英語</a></li>
	</ul>
	</aside>
	
	<aside class="sidemenu">
	<h1>今月の特集</h1>
	<ul>
		<li><a href="#">トニ・モリスンの訃報から一年、現在のアメリカでは</a></li>
		<li><a href="#">オバマ元米大統領のスピーチを読む</a></li>
		<li><a href="#">夏の怪談特集—小泉八雲から洒落怖まで</a></li>
	</ul>
	</aside>
</div>